
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
demo-ts/dist/
demo-ts/node_modules/
/reactRouterDemo/demo/node_modules/*
/reactRouterDemo/demo/build/*


