@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm())
{
    <h2>Adress And Payment</h2>
    <fieldset>
        <legend>Shopping Information</legend>
        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>We're running a promotion: all music is free with the promo code: "FREE"</p>
        <div class="editor-label">@Html.Label("Promo Code")</div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    <input type="submit" value="Submit Order" />
    
}